<nav class="navbar navbar-light bg-light mb-4">
  <a href="<%= cocktails_path %>"><%= image_tag("Tails.png", class: "menu_icon")%></a>
  <%= link_to 'New Cocktail', new_cocktail_path, :class => 'nav-link custom_cocktail' %>
</nav>

<div class="container">
  <div class="search-row d-flex justify-content-center">
    <form class="form-inline text-center">
      <input style="border-radius: 5px;" class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success btn-search-custom" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="cards">
  <% @cocktails.each do |cocktail|%>
    <!-- <div clas="col-md-3 m-4"> -->
    <a href="<%= cocktail_path(cocktail) %>">
      <div class="card-trip">
        <%= image_tag("c1.jpg") %>
        <div class="card-trip-infos">
          <div>
            <h2><%= cocktail.name %></h2>
            <!-- <p>Short description here!</p> -->
            <div class="rating">
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
              <span>☆</span>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- </div> -->
  <% end %>
</div>




