<nav class="navbar navbar-light bg-light mb-4">
  <a href="<%= cocktails_path %>"><%= image_tag("Tails.png", class: "menu_icon")%></a>
  <%= link_to 'Home', cocktails_path, :class => 'nav-link' %>
</nav>

 <div class="container col-md-6 offset-md-3">
  <h2>Add a new cocktail</h2>
  <br>
  <%= simple_form_for(@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.submit "Add a cocktail", class: "btn btn-primary" %>
  <% end %>
 </div>
